@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: 250px repeat(8, 1fr);
  grid-auto-rows: 150px auto 80px;
  grid-template-areas:
    'nav hd hd hd hd hd hd hd hd'
    'nav mn mn mn mn mn mn mn mn'
    'nav mn mn mn mn mn mn mn mn';
}

/* NAV */
aside {
  background-color: #1992d3;
  color: #fff;
  grid-area: nav;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.upper-nav,
.lower-nav,
.logo {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 1.5em;
  font-weight: 700;
  padding-left: 0;
  margin-inline: 1rem;
}

.logo {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.upper-nav li,
.lower-nav li,
.logo li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* HEADER */
header {
  background-color: tomato;
  grid-area: hd;
  padding: 1.5rem;
}

/* MAIN */
main {
  background-color: aliceblue;
  grid-area: mn;
  height: 100vh;
  overflow-y: auto;
  padding: 1.5rem;
}
