@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@mixin flex-align {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 10px;
  cursor: pointer;
}

$royal-blue: #1992d3;

html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #e0e0e0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 6fr / 1fr 4fr;
  grid-template-areas:
    'sidebar headcont'
    'sidebar maincont';
}

// HEADER
header {
  grid-area: headcont;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    'searchform notif'
    'greeting action';

  form {
    grid-area: searchform;
    @include flex-align();

    img {
      vertical-align: middle;
      margin-right: -0.5em;
      cursor: pointer;
    }
    input {
      width: clamp(10em, 90%, 100vw);
      background-color: #e0e0e0;
      border: none;
      padding: 0.5rem;
      border-radius: 1em 1em;
    }
  }

  .notif-bar {
    grid-area: notif;
    @include flex-align();
    justify-content: center;
    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 2em 2em;
    }
  }

  .greeting-cont {
    margin-left: 1em;
    grid-area: greeting;
    @include flex-align();

    .avatar {
      height: 70px;
      width: 70px;
      border-radius: 2em 2em;
    }
  }

  .action-btns {
    grid-area: action;
    @include flex-align();
    gap: 2em;
    button {
      padding: 0.5em 1.5em 0.5em 1.5em;
      border-radius: 1.5em 1.5em;
      border: none;
      background-color: $royal-blue;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #247dad;
      }
    }
  }
}

// MAIN
main {
  grid-area: maincont;
  background-color: #e0e0e0;
}

// SIDE
nav {
  background-color: $royal-blue;
  height: 100%;
  width: clamp(50px, 300px, 100%);
  color: #fff;
  grid-area: sidebar;
}

.sidebar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 2.25fr 2.25fr;
  grid-template-areas:
    'dash'
    'upper'
    'lower';

  .dash-cont {
    grid-area: dash;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
      height: 50px;
      width: auto;
    }
  }
  .upper,
  .lower {
    padding: 0 2rem;
    li {
      @include flex-align();
    }
    li:hover {
      background-color: #247dad;
      border-radius: 5px 5px;
    }
  }
  .upper {
    grid-area: upper;
  }
  .lower {
    grid-area: lower;
  }
}
